该实验结果所设置的参数如下：
参考文献：WSN中基于区域感知的改进AODV路由协议

网络拓扑区域 800m×800m
路由协议 AODV、AOMDV
MAC 层协议 IEEE 802.11
传输模型 TwoRayGround
传输半径 250m
数据包类型 CBR
节点数量 100 个
节点最大移动速度为 10 m / s
最大通信连接数 15 对
数据包大小 512Bytes 
仿真时间 2000s 
暂停时间 1000s
最大接口队列长度(Qfull) 50Packets
能量模型 EnergyModel
节点初始能量值(Einit) 200.0J
发送功率 3.0W 接收功率 1.5W 闲时功率 0.075W

设置数据包产生速度为 1packets/s 、 2packets/s 、 3packets/s 、 4packets/s、5packets/s、6packets/s
反复运行 20 次， 实验结果取平均值