该实验结果所设置的参数如下：
参考文献：无线传感器网络多路径路由协议研究 chapter3

网络拓扑区域 800m×800m 
路由协议 AODV、AOMDV、EQAOMDV 
MAC 层协议 IEEE 802.11 
传输模型 TwoRayGround 
传输半径 250m 
数据包类型 CBR 
节点数量 50 个 
最大通信连接数 10 对 
数据包大小 512Bytes 
仿真时间 300s 
最大接口队列长度(Qfull) 50Packets 
能量模型 EnergyModel 
节点初始能量值(Einit) 50.0J 
发送功率 0.660W 接收功率 0.395W 闲时功率 0.035W

由于一个特定的仿真场景下测得的性能指标具有随机性，为减小随机误差对实验结果趋势变化的影响，在所有发包速率和所有移动速度下，本节都分别进行 10 次随机拓扑场景下的仿真
利用 setdest 工具生成 10 个静态随机拓扑场景文件.针对 10 种不同发包速率都分别进行 10 个不同静态随机场景下 的仿真，对最终测得结果取平均值。